body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #a200ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c262fa;
}

p {
  font-size: 1em;
  color: #555;
}

.notification {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
  text-align: center;
}
.list {
  font-weight: bold;
  color: #555;
  line-height: 1.5;
}
